.thead{
    background-color: green;
}
.time{
    color:red
}
.tr1{
    color:cyan
}
.tr2{
    color:blue
}
.tr3{
    color:yellow
}
.tr4{
    color:red
}
.tr5{
    color:pink
}
.tr6{
    color:lightblue
}